@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "inter", sans-serif;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin: 25px 100px; */
  width: 80%;
  margin: 25px auto;
}
.right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.nav-1 {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  font-size: 14px;
  height: 49px;
}
.nav-ins {
  width: 80%;
  margin: 25px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 20px; */
}
.nav-1-left {
  display: flex;
  align-items: center;
}
.nav-1-right{
  display: flex;
  align-items: center;
}.h-1{
font-weight: 600;
}
.language {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border-radius: 3px;
  color: rgb(216, 210, 210);
  border: 1px solid rgb(165, 159, 159);
  margin-left: 20px;
  padding: 7px;
  cursor: pointer;
}
.nav-1 a {
  color: rgb(165, 159, 159);
}
.particulars {
  margin: 0 10px;
}
.right a {
  text-decoration: none;
  list-style: none;
  color: black;
}
.contact {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-left: 5px;
}
.important {
  font-weight: 600;
  font-family: "Instrument Sans", sans-serif;
}
.conection {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-left: 5px;
}
.sign-up-btn {
  padding: 10px 20px;
  background-color: transparent;
  border-radius: 3px;
  text-decoration: none;
  color: black;
  font-weight: 600;
}
.sign-in-btn {
  padding: 10px 20px;
  background-color: #d0011c;
  border-radius: 3px;
  text-decoration: none;
  border: 0;
  color: white;
  font-weight: 600;
}
